:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0, 6);
  --logo-color: #000000;
  --background-color: #2f303a;
  --light-background-color: #f5f4fa;
}
body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Списки без маркеров */
ul {
  list-style: none;
}
/* Logo */
.logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-accent {
  color: var(--accent-color);
}
.logo-white {
  color: var(--primary-white-color);
}
/* Site nav */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:focus,
.site-nav .link:hover,
.contact-list .link:focus,
.contact-list .link:hover {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* Контакты */
.contact-list .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
/* Hero */
.hero {
  color: var(--primary-white-color);
  background-color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
/* Секция преимуществ */
.list-title {
  color: var(--title-text-color);
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}
/* Заголовки h2 */
.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* Наша команда */
.team {
  background-color: var(--light-background-color);
}
.team-member {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* Футер */
footer {
  background-color: var(--background-color);
}
.address {
  color: var(--primary-white-color);
  font-style: normal;
}
.footer-contacts {
  color: var(--footer-contacts-color);
  font-style: normal;
}
.footer-contacts:focus,
.footer-contacts:hover {
  color: var(--primary-white-color);
}
/* Кнопки портфолио */
.portfolio-button {
  color: var(--title-text-color);
  background-color: var(--light-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.portfolio-button.all {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
/* Проекты */
.projects-list a {
  text-decoration: none;
}
.project {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
